.container {
    font-size: 30px;
    color: chocolate;
}

.add, .minus {
    cursor: pointer;
    border: 1px solid lightblue;
    margin-right: 15px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.controller {
    display: flex;
}

.container-div {
    border: 1px solid red;
}

.normal-div {
    width: 100px;
    height: 100px;
    background: lightcoral;
    margin: 10px;
    color: yellow;
}

.div2 {
    width: 100px;
    height: 100px;
    background: lightblue;
    margin: 10px;
}

.float-div {
    width: 100px;
    height: 100px;
    background: yellow;
    float: left;
}

.bfc {
    overflow: hidden;
    margin: 50px;
}