<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>cli test</title>
    </head>
    <body>
        <div id="app"></div>
    </body>
    <script>
        if ('serviceWorker' in navigator){
            window.addEventListener('load', () => {
                navigator.serviceWorker
                    .register('/service-worker.js')
                    .then(() => {
                        console.log('SW registered: ');
                    })
                    .catch((registrationError) => {
                        console.error(
                            'SW registration failed: ',
                            registrationError
                        );
                    });
            });
        }
    </script>
</html>
