.box {
    color: palevioletred;
    font-size: 36px;
    background: url('./static/pkq.jpg');
    background-size: 320px 240px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px; 
}